@font-face {
    font-family:"Supply" ;
    src: url("../Css/Font/Supply/Supply-Regular.otf");
}

@font-face {
    font-family: "Acumin";
    src: url("../Css/Font/AcuminVariableConcept.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Acumin";
}

body {
    background: linear-gradient(to bottom, #fde7ea, #fdefda);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Acumin";
    font-size: 16px;
}

h1 {
    color: #222E40;
    text-align: left;
    font-size: 36px;
    font-family: "Supply";
    padding: 50px;
}

h2{
    color: #222E40;
    text-align: left;
    font-size: 30px;
    font-family: "Supply";
}

h3{
    color: #222E40;
    text-align: left;
    font-size: 16px;
    font-family: "Acumin";
    padding: 20px;
    display: inline;
}

h4{
    color: #222E40;
    text-align: left;
    font-size: 36px;
    font-family: "Supply";
}

h5{
    color: #222E40;
    text-align: center;
    font-size: 40px;
    font-family: "Supply";
    padding: 50px;
}

/* ---------- Header -------------- */
.header img {
    width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: grey;
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li a{
    text-decoration: none;
    padding: 1rem;
    color: #222E40;
}

.header nav ul li a:hover{
    color: white;
}

.flex-container {
    font-family: "Supply";
    font-style: normal;
    font-size: 36px;
    padding: 50px;
    display: flex;
    flex direction: row;
}
    
.tabla__txtDer {
    font-family: "Supply";
    font-style: normal; 
    font-size: 16px;
    padding: 20px;
    text-align: left;
}    
    
.tabla__txtCen {
    font-family: "Supply";
    font-style: normal; 
    font-size: 16px;
    padding: 20px;
    text-align: left;
}

.tabla__txtIzq {
	font-family: "Supply";
    font-style: normal; 
    font-size: 16px;
    padding-right: 20px;;
    text-align: left;
}

.hero {
    width: 100%;
    height: 500px;
    background-image: url(./Img/Foto\ Inicio.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-vidriera {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.grid-vidriera {
    display: grid;
    grid: 500px 500px / repeat(3, 400px);
    gap: 30px;
    padding-left: 20px;
}

.grid-vidriera .img-vidriera  {
    position: relative;
}

.grid-vidriera .img-vidriera img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    justify-self: center;
}

.p {
    height: 500px;
    width: 500px;
    font-size: 16px;
    color:#222E40;
    padding: 10px;
    flex-wrap: wrap;

}
/* ---------- Footer ------------- */

.footer{
    display: flex;
    justify-content: space-around;
    background-color: green;
    align-items: flex-start;
    padding: 2rem;
}

.footer ol{
    display: flex;
    list-style: none;
    text-decoration: none;

}

.footer ol li a{
    text-decoration: none;
    padding: 1rem;
    color: white;
}




form input {
    width: 300px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
}

form button{
    width: 100px;
    height: 45px;
    background:transparent;
    border: 2px solid white;
    color:white;
    border-radius: 50px;
    padding: 30 px,30px;
    font-size: 16px;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 300px; 
    padding: 12px; 
    border: 1px solid white; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 6px; 
    resize: vertical;
    display: flex;
    flex-direction: column;
    text-align: left;

  }

input[type=submit] {
    background-color: #222E40;
    font-size: 16px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ContenedorPortfolio {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
      }

.grid-gallery {
    display: grid;
    grid-template-columns: repeat (3, 1fr) !important;
    gap: 30px;
    width: 100%;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
}

.ContainerPortfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------- Media queries--------------- */

@media (max-width: 950px){
    .grilla {
        grid-template-columns: 1fr, 1fr;
        display: grid;
    
    }
}

@media (max-width: 770px){
    .header{
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width:420px) {
    .header nav ul{
        flex-direction: column;
    }
}