.ContainerForm{
    display: grid;
    justify-content: center;

    .titulo-presentacion {
        @extend h1;
        align-items: center;
    }

    .contactform {
    
        padding-bottom: 2rem;
        
        .row {
            width: 500px;

            input {
                border: none;
            }
            
            textarea{
                border: none;
            }

            label{
                color: #222E40;
                font-size: 16px;
                font-family: "supply";
            }

            .btn {
                background-color: $bg-button;
                border:none;
                color: white;
                border-radius: 5px;
                font-size: 16px;
                font-family: "acumin";
                margin-top: 30px;
                &:hover {
                    background-color: $bg-button-hover;
                }

            }

            .btn--submit{
                @extend .btn;
                background-color: #339966;
            }
        }
    }
}