    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 3rem;

        .container-fluid {
            width: vw;

            .navbar-nav {
                text-decoration: none;
                list-style: none;
                padding: 1rem;
                color: #222E40;

                .nav-item {
                    width: vw;

                    .nav-link {
                        padding: 1rem;
                    &:hover {
                        color: $menu-hover;
                    }
                    }
                } 
            }
        }
    }