// ------Team-------

.cardcontainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;

    .tarjetita {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

        .card {
            width: 400px;
        }

            .card img {
                width: 100%;
                height: 400px;
            }
}

// ---- General -----  
h5 {
    color: #222E40;
    text-align: center;
    font-size: 40px;
    padding: 50px;
    font-family: "Supply";
}

@font-face {
    font-family: "Supply";
    src: url("../Css/Font/Supply/Supply-Regular.otf");
}

body{
    background: linear-gradient(to bottom, #fde7ea, #fdefda);
}

// -----------Footer-----------

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    background-color: #222E40;
    font: white;

    ol {
        display: flex;
        list-style: none;
        text-decoration: none;
    }

        li a {
            text-decoration: none;
            padding: 1rem;
            color: white;
            font-family: "Supply";
            font-size: 16px;
            padding: 2rem;
        }

        div label {
            color: white;
            font-family: "Supply";
            font-size: 16px;
            padding: 1rem;
        }
}