@import "./variables";

@import "./fonts";

@import "./header";

@import "./footer";

@import "./home";

@import "./portfolio";

@import "./process";

@import "./team";

@import "./contact";

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #fde7ea, #fdefda);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "acumin";
    font-size: 16px;
}

h1 {
    color: #222E40;
    text-align: left;
    font-size: $titulo-grande;
    font-family: "supply";
    padding: 50px;
}

h2 {
    color: #222E40;
    text-align: left;
    font-size: 30px;
    font-family: "supply";
}

h3 {
    color: #222E40;
    text-align: left;
    font-size: 16px;
    font-family: "acumin";
    padding: 20px;
    display: inline;
}

// h4 {
//     color: #222E40;
//     text-align: left;
//     font-size: 36px;
//     font-family: "supply";
// }

p {
    font-family: "acumin";
    font-size: 16px;
    color:#222E40;
    flex-wrap: wrap;
} 

@keyframes animacion {

    0% {
        border-radius: 5px;
    }

    25% {
        border-radius: 25px;
    }

    50% {
        border-radius: 50px;
    }

    75% {
        border-radius: 40%;
    }

    100% {
        border-radius: 50%;
    }
}



